@font-face {
  src: url(../../fonts/_inter/Inter-Regular.woff2) format('woff2'),
       url(../../fonts/_inter/Inter-Regular.woff) format('woff'),
       url(../../fonts/_inter/Inter-Regular.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: 400;
}

@font-face {
  src: url(../../fonts/_inter/Inter-Medium.woff2) format('woff2'),
       url(../../fonts/_inter/Inter-Medium.woff) format('woff'),
       url(../../fonts/_inter/Inter-Medium.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: 500;
}

@font-face {
  src: url(../../fonts/_inter/Inter-Black.woff2) format('woff2'),
       url(../../fonts/_inter/Inter-Black.woff) format('woff'),
       url(../../fonts/_inter/Inter-Black.ttf) format('truetype');
  font-family: 'Inter';
  font-weight: 900;
}
